src/test/resources/vm-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="transientListener">
        <vm:listener queueName="transientQueue" queueType="TRANSIENT"/>
        <flow-ref name="capture"/>
    </flow>

    <flow name="persistentListener">
        <vm:listener queueName="persistentQueue" queueType="PERSISTENT"/>
        <flow-ref name="capture"/>
    </flow>

    <flow name="synchronousListener" maxConcurrency="1">
        <vm:listener queueName="synchronousQueue" queueType="PERSISTENT" numberOfConsumers="1" />
        <test:processor class="org.mule.extensions.vm.test.VMTestCase$Sleep" />
        <set-payload value="#[now()]" />
        <flow-ref name="capture"/>
    </flow>

    <sub-flow name="capture">
        <test:processor class="org.mule.extensions.vm.test.VMTestCase$EventCaptor" />
    </sub-flow>

</mule>