src/test/resources/vm-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:config name="sync">
        <vm:queues>
            <vm:queue queueName="synchronousQueue" queueType="PERSISTENT" />
        </vm:queues>
    </vm:config>

    <flow name="transientListener">
        <vm:listener queueName="transientQueue" config-ref="vm" />
        <flow-ref name="capture"/>
    </flow>

    <flow name="persistentListener">
        <vm:listener queueName="persistentQueue" config-ref="vm"/>
        <flow-ref name="capture"/>
    </flow>

    <flow name="synchronousListener" maxConcurrency="1">
        <vm:listener queueName="synchronousQueue" numberOfConsumers="1" config-ref="sync" transactionalAction="ALWAYS_BEGIN"/>
        <test:processor class="io.portx.ihub.vm.test.VMTestCase$Sleep" />
        <set-payload value="#[now()]" />
        <flow-ref name="capture"/>
    </flow>

    <flow name="publishToSyncQueue">
        <vm:publish queueName="synchronousQueue" config-ref="sync" transactionalAction="JOIN_IF_POSSIBLE" />
    </flow>

    <sub-flow name="capture">
        <test:processor class="io.portx.ihub.vm.test.VMTestCase$EventCaptor" />
    </sub-flow>

</mule>