src/test/resources/vm-publish-consume-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="listener">
        <vm:listener queueName="queue" queueType="TRANSIENT">
            <vm:response>
                <vm:content>
                    #[lower(payload.salute)]
                </vm:content>
            </vm:response>
        </vm:listener>
        <logger />
    </flow>

    <flow name="onErrorContinueListener">
        <vm:listener queueName="onErrorContinue" queueType="TRANSIENT">
            <vm:response>
                <vm:content>
                    #[lower(payload.salute)]
                </vm:content>
            </vm:response>
        </vm:listener>
        <try>
            <test:processor throwException="true" />
            <error-handler>
                <on-error-continue>
                    <logger />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="onErrorPropagateListener">
        <vm:listener queueName="onErrorPropagate" queueType="TRANSIENT" />
        <try>
            <test:processor throwException="true" />
            <error-handler>
                <on-error-propagate>
                    <set-payload value="caca" />
                </on-error-propagate>
            </error-handler>
        </try>
    </flow>

    <flow name="failListener">
        <vm:listener queueName="failQueue" queueType="TRANSIENT" />
        <test:processor class="org.mule.extensions.vm.test.VMPublishConsumeTestCase$FailureProcessor" />
    </flow>

    <flow name="publishConsume">
        <vm:publish-consume queueName="queue" />
    </flow>

    <flow name="onErrorContinue">
        <vm:publish-consume queueName="onErrorContinue" />
    </flow>

    <flow name="onErrorPropagate">
        <vm:publish-consume queueName="onErrorPropagate" />
    </flow>
    
    <flow name="failingPublishConsume">
        <vm:publish-consume queueName="failQueue" />
    </flow>

</mule>