src/test/resources/vm-publish-consume-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:config name="vm">
        <vm:queues>
            <vm:queue queueName="queue" queueType="TRANSIENT" />
            <vm:queue queueName="onErrorContinue" queueType="TRANSIENT" />
            <vm:queue queueName="onErrorPropagate" queueType="PERSISTENT" />
            <vm:queue queueName="failQueue" queueType="PERSISTENT" />
        </vm:queues>
    </vm:config>
    
    <flow name="listener">
        <vm:listener queueName="queue" config-ref="vm">
            <vm:response>
                <vm:content>
                    #[lower(payload.salute)]
                </vm:content>
                <vm:properties>#[attributes.properties]</vm:properties>
            </vm:response>
        </vm:listener>
        <logger />
    </flow>

    <flow name="onErrorContinueListener">
        <vm:listener queueName="onErrorContinue" config-ref="vm">
            <vm:response>
                <vm:content>
                    #[lower(payload.salute)]
                </vm:content>
            </vm:response>
        </vm:listener>
        <try>
            <test:processor throwException="true" />
            <error-handler>
                <on-error-continue>
                    <logger />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="onErrorPropagateListener">
        <vm:listener queueName="onErrorPropagate" config-ref="vm" />
        <test:processor throwException="true" />
    </flow>

    <flow name="failListener">
        <vm:listener queueName="failQueue" config-ref="vm" />
        <raise-error type="ROUTING" />
    </flow>

    <flow name="publishConsume">
        <vm:publish-consume queueName="queue" config-ref="vm"/>
    </flow>

    <flow name="transactionalPublishConsume">
        <try transactionalAction="ALWAYS_BEGIN">
            <vm:publish-consume queueName="queue" config-ref="vm"/>
        </try>
    </flow>

    <flow name="publishConsumeWithCustomCorrelationId">
        <vm:publish-consume queueName="queue" correlationId="myCorrelationId" config-ref="vm"/>
    </flow>

    <flow name="neverSendCorrelationId">
        <vm:publish-consume queueName="queue" sendCorrelationId="NEVER" correlationId="myCorrelationId" config-ref="vm"/>
    </flow>

    <flow name="onErrorContinue">
        <vm:publish-consume queueName="onErrorContinue" config-ref="vm"/>
    </flow>

    <flow name="onErrorPropagate">
        <vm:publish-consume queueName="onErrorPropagate" config-ref="vm"/>
    </flow>
    
    <flow name="failingPublishConsume">
        <vm:publish-consume queueName="failQueue" config-ref="vm"/>
    </flow>

    <flow name="publishConsumeWithProperties">
        <vm:publish-consume queueName="queue" config-ref="vm" timeout="100000">
            <vm:properties>
                #[
                    {
                        prop1: {
                            salute: "Hello"
                        },
                        prop2: "World"
                    }
                ]
            </vm:properties>
        </vm:publish-consume>
    </flow>

</mule>