src/test/munit/VMTXPersistentConfigTestCase.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <munit:config name="VMTXPersistentConfigTestCase.xml" />

    <munit:test name="vmTxPersistentConfiguration" description="Publish In Tx">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="listenerPersistentQueue"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable variableName="message" value="#['FAIL']"/>
            <try transactionalAction="BEGIN_OR_JOIN" >
                <vm:publish queueName="persistentQueue" config-ref="VM_Config" >
                    <vm:content >#[{txAction : 'ROLLBACK'}]
                    </vm:content>
                </vm:publish>
                <ee:transform>
                    <ee:message >
                        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
 ---
vars.message
]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </try>
        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="5" millisBetweenRetries="5000">
                <logger message="#[MunitTools::queueSize()]" level="ERROR"/>
                <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(1)]"/>
                <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::notNullValue()]"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="listenerPersistentQueue" initialState="stopped">
        <vm:listener queueName="persistentQueue" numberOfConsumers="1" transactionalAction="ALWAYS_BEGIN" config-ref="VM_Config" />
        <flow-ref name="listenerChoice"/>
    </flow>

    <flow name="listenerChoice">
        <async>
            <logger level="DEBUG" message="#[output application/json --- payload]"/>
            <munit-tools:queue/>
        </async>
        <choice>
            <when expression="#[payload.txAction == 'ROLLBACK']">
                <raise-error type="MULE:ANY" description="tx raise error"/>
            </when>
        </choice>
    </flow>

</mule>